h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_3ca14934 a { text-decoration: none; }
#menu_3ca14934_pane { background-color: #3D3DCC; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_3ca14934_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_3ca14934_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_3ca14934_entry:hover { background-color: #FF8000; color: #FFFFFF !important; }
#menu_3ca14934_entry:hover span { color:#FFFFFF !important; }
		.menu_3ca14934_mainMenuEntry { text-align: center; }
		.menu_3ca14934_mainMenuEntry:hover {	background-color:#FF8000; }
		.menu_3ca14934_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_3ca14934 .mobileEntry { display: none; } 
		#menu_3ca14934 .normalEntry { display: block; } 
		#menu_3ca14934_menualignmentwrapper{ width:308px; left: calc(50% - 154px);  } 
		@media only screen and (max-width:550px) { 
			#menu_3ca14934 .mobileEntry { display: block; } 
			#menu_3ca14934 .normalEntry { display: none; } 
			#menu_3ca14934_menualignmentwrapper { width:37px; left: calc(50% - 18px);  } 
		}
#table_76372fca th { border: 1px solid #000000;  } 
#table_76372fca td { border: 1px solid #000000;  } 
#button_7107b4be { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:40px; background:none; border: 0px solid #092850;  }
#button_7107b4be:hover { border-color:#000000;  }
#button_7107b4be:hover span { color:#FF8000; }
body { background-color:#4040D6; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_33793bb5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:79px; background-color:#3D3DCC; box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_33793bb5_padding { margin: 10px; display: block;  }
#container_1809c9fc { vertical-align: top; position:relative; display: inline-block; width:4%; min-height:64px; background:none;  }
#container_1809c9fc_padding { margin: 10px; display: block;  }
#img_60dba8b2 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_62a4ca17 { vertical-align: top; position:relative; display: inline-block; width:36%; min-height:64px; background:none;  }
#container_62a4ca17_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:20pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
#menu_3ca14934 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:51%; height:65px; text-align:left; background:none; border: 0px solid #A0A0A0;  }
#menu_3ca14934_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:65px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle4 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:73px; height:65px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:23px;  }
.textstyle5 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle3 { position:absolute; width:68px; height:65px; left:73px;  }
.menustyle4 { position:absolute; width:167px; height:65px; left:141px;  }
.textstyle6 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  white-space: nowrap; }
#container_75efadc6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:280px; background-color:#FFFFFF; background-image: url(./cdn/images/BPDH1.png); background-position:center left; background-size:cover;  }
#container_75efadc6_padding { margin: 10px; display: block;  }
#heading_478d810d { vertical-align: bottom; position:relative; display: inline-block; width:1256px; height:245px; background:none; font-size:48pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; text-align:left; font-style:italic;  }
#container_5e6975ff { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background:none;  }
#container_5e6975ff_padding { margin: 10px; display: block;  }
#container_1fd37729 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_1fd37729_padding { margin: 10px; display: block;  }
#heading_250929e8 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; text-align:center;  }
#container_367bebf6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background:none;  }
#container_367bebf6_padding { margin: 10px; display: block;  }
#container_13c9e25a { vertical-align: top; position:relative; display: inline-block; width:84%; min-height:174px; background:none;  }
#container_13c9e25a_padding { margin: 10px; display: block;  }
#table_76372fca { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:97%; height:140px; background-color:#FFFFFF; border: 1px solid #000000; table-layout: fixed;  }
#cell_3ca701ed {  }
#img_6a0088e0 { vertical-align: bottom; position:relative; display: inline-block; width:32%; background:none; height:auto;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle7 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  }
#cell_62a75dad {  }
#heading_63efa2b7 { vertical-align: top; position:relative; display: inline-block; width:100%; height:66%; background:none; font-size:20pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000; text-align:left;  }
#cell_53cd3756 {  }
#heading_68473273 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none; font-size:20pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000; text-align:left;  }
#cell_8250a81 {  }
#heading_4473df6d { vertical-align: top; position:relative; display: inline-block; width:100%; background:none; font-size:20pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000; text-align:left;  }
